#dashboard {
  background-color: #1b2431;
  color: #202020;
  font-family: 'Montserrat', 'Helvetica', 'Open Sans', 'Arial';
  font-size: 13px;
  padding-top: 15px;
  height: 100vh;
}

.card-list {
  /* margin-top: 15px; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  border: 5px solid #1b2431;
  border-radius: 8px;
  color: white;
  padding: 10px;
  position: relative;
  margin: 0 5px;
}

.card svg[data-prefix='far'],
.card svg[data-prefix='fas'] {
  color: white;
  font-size: 35px;
  opacity: 0.5;
  position: absolute;
  right: 13px;
  top: 13px;
}

.card .stat {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 8px;
  margin-top: 25px;
  padding: 10px 10px 0;
  text-transform: uppercase;
}

.card .stat {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 12px;
  margin-top: 25px;
  padding: 10px 10px 0;
  text-transform: uppercase;
}

.card .title {
  display: inline-block;
  font-size: 15px;
  padding: 10px 10px 0;
  text-transform: uppercase;
}
.card .value {
  font-size: 28px;
  padding: 0 10px;
}
.card.blue {
  background-color: #2298f1;
}
.card.green {
  background-color: #66b92e;
}
.card.orange {
  background-color: #da932c;
}
.card.red {
  background-color: #d65b4a;
}

.dashboard-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 90%;
  width: 100%;
}

.actions {
  background-color: #273142;
  border: 4px solid #1b2431;
  width: 100%;
  margin-top: 5px;
}

.actions-inner {
  border: 1px solid #313d4f;
  border-radius: 4px;
}

.actions-header {
  color: white;
  padding: 22px;
}

.actions-header .count,
.actions-header .title {
  display: inline-block;
}

.actions-header .count {
  color: #738297;
}

.actions-header button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  float: right;
}

.actions-header button svg[data-prefix='fas'] {
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin: 5px 5px;
}

.actions-header .title,
.actions-header .count {
  font-size: 24px;
}

.actions-header .title + .count {
  margin-left: 5px;
}
.actions-table {
  width: 100%;
}

.actions-table .member img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: inline-block;
}

.actions-table td,
.actions-table th {
  color: white;
  padding: 10px 22px;
  vertical-align: middle;
}
.actions-table td p {
  font-size: 12px;
}

.actions-table td p:last-of-type {
  color: #738297;
  font-size: 11px;
}
.actions-table th {
  background-color: #313d4f;
}
.actions-table tbody tr:not(:last-of-type) {
  border-bottom: 1px solid #313d4f;
}

.actions-table tbody tr td:nth-child(n + 3) {
  padding-left: 27px !important;
}

table {
  width: 100%;
}

thead tr,
tbody tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(6, auto); */
}

thead,
tbody {
  display: block;
}

.actions-table tbody {
  overflow-y: auto;
  overflow-x: hidden;
  height: 600px;
}

.actions-table .member figure,
.actions-table .member .member-info {
  display: inline-block;
  vertical-align: top;
}

.actions-table .member figure + .member-info {
  margin-left: 7px;
}

.actions-table .member img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.actions-table .status > form {
  float: right;
}
.actions-table .status-text {
  display: inline-block;
  font-size: 12px;
  margin: 11px 0;
  padding-left: 20px;
  position: relative;
}
.actions-table .status-text:before {
  border: 3px solid;
  border-radius: 50%;
  content: '';
  height: 14px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 14px;
}
.actions-table .status-text.status-blue:before {
  border-color: #1c93ed;
}
.actions-table .status-text.status-green:before {
  border-color: #66b92e;
}

.actions-table .status-text.status-orange:before {
  border-color: #da932c;
}
.actions-table .status-text.status-red:before {
  border-color: #d65b4a;
}

.selectric {
  background-color: transparent;
  border-color: #313d4f;
  border-radius: 4px;
}
.selectric .label {
  color: #738297;
  line-height: 34px;
  margin-right: 10px;
  text-align: left;
}
.selectric-wrapper {
  float: right;
  width: 150px;
}
.danger-item {
  border-left: 4px solid #a84d43;
}
.day-text {
  color: #9dafc7 !important;
  background-color: #1b2431;
  width: 30%;
  border-radius: 15px;
  text-align: center;
}
.expense-text {
  color: #a84d43 !important;
}
.income-text {
  color: #66b92e !important;
}
.seetingsModal .form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.seetingsModal .form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.settingsModal .form__input::-webkit-input-placeholder {
  color: #999;
}

.settingsModal .form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  text-align: left;
}

.settingsModal .form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.settingsModal h1 {
  text-align: center;
}

.settingsModal {
  position: absolute;
  top: 200px;
  left: 550px;
  right: 550px;
  bottom: 200px;
  background-color: white;
  padding: 25px;
  text-align: center;
}

.expenseModal {
  top: 200px;
  bottom: 250px;
  left: 550px;
  right: 550px;

  background: #f1f1f1;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.buttonAddSettings {
  text-decoration: none;
  display: block;
  background-color: #27ae60;
  width: 200px;
  height: 53px;
  line-height: 53px;
  margin: auto;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.buttonAddSettings span,
.buttonAddSettings .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

.buttonAddSettings span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.buttonAddSettings span:after {
  content: '';
  background-color: #328755;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}

.buttonAddSettings .icon {
  width: 28%;
  right: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.buttonAddSettings .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}

.buttonAddSettings .icon .fa-plus {
  height: 16px;
}
.buttonAddSettings .icon .fa-check {
  display: none;
}
.buttonAddSettings.success span,
.buttonAddSettings:hover span {
  left: -72%;
  opacity: 0;
}

.buttonAddSettings.success .icon,
.buttonAddSettings:hover .icon {
  width: 100%;
}
.buttonAddSettings.success .icon .fa,
.buttonAddSettings:hover .icon .fa {
  font-size: 45px;
}
.buttonAddSettings.success {
  background-color: #27ae60;
}
.buttonAddSettings.success .icon .fa-plus {
  display: none;

  color: white;
}
.buttonAddSettings.success .icon .fa-check {
  display: inline-block;
}
.buttonAddSettings:hover {
  opacity: 0.9;

  color: white;
}
.buttonAddSettings:hover .icon .fa-plus {
  height: 16px;
}
.buttonAddSettings:active {
  opacity: 1;
}

.color {
  border: 0px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.colorRojo {
  background-color: red;
}
.colorVerde {
  background-color: #27ae60;
}
.colorAzul {
  background-color: blue;
}

.grande {
  width: 50px;
  height: 50px;
}

.expenseModal h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

.expenseModal form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

.expenseModal form input,
.expenseModal form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

.expenseModal form input:focus,
.expenseModal form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}

.expenseModal form #input-submit {
  color: white;
  background: #e74c3c;
  cursor: pointer;
  width: 100%;
  height: 50px;
}

.expenseModal form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

.expenseModal form textarea {
  height: 126px;
}

.expenseModal #input-description {
  height: 75px;
}

.expenseModal .half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.select {
  width: 100%;
  margin-top: 12px;
}

.expenseModal .right {
  width: 50%;
}

.expenseModal .left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .expenseModal .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.expenseModal .cf:before,
.expenseModal .cf:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.expenseModal .cf:after {
  clear: both;
}

.settingsModal2 {
  bottom: 380px;
}

.settingsModal2 form div {
  margin-bottom: 20px;
}
